<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<div th:replace="~{top::menu}"></div>

<body>
<div id="Left-container">
  <div id="imgcontainer">
    <img th:src="@{/image/}+${}">
  </div>
  </div>

<div id="Right-contianer">
  <div id="ctitle">
    <a th:text="${}"></a>
  </div>
<div id="cprice">
  <a th:text="${}"></a>
</div>
  <div id="ctime">
  <a th:text="${}"></a>
</div>
</div>

<div id="detail-container">


</div>

<div id="map-container">

</div>

<div id="review-container">


</div>

</body>
</html>