<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <link href="https://fonts.googleapis.com/css2?family=Bagel+Fat+One&family=Black+Han+Sans&family=Mulish:ital,wght@0,599;1,599&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,599;1,599&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" th:href="@{/css/login.css}">
</head>
<body>
<div th:replace="~{top::menu}"></div>
<div th:if="${param.error}">
    <div class="alert alert-danger" role="alert">
        <span th:text="${param.message}"></span>
    </div>
</div>
<div id="login-text"><h1>LOGIN</h1></div>
<div class="login-container">
    <div th:if="${param.error}">사용자 이름 및 암호가 잘못되었습니다.</div>
    <form th:action="@{/loginProcess}" method="post" class="form-container">
        <div class="input-item">
            <table>
                <tr><th>ID</th>
                    <td><input type="text" id="id" name="id" placeholder="아이디를 입력하세요."></td>
                </tr>
                <tr><th>PASSWORD</th>
                    <td><input type="password" id="pw" name="pw" placeholder="비밀번호를 입력하세요."></td>
                </tr>
            </table>
            <div id="btn-link">
                <button type="submit" class="btn-link">로그인</button>
                <input type="button" class="btn-link"onclick="location.href='/memberinput'" value="회원가입" />
            </div>
            </div>
        <div class="button-item">
            <input type="button" onclick="location.href='/findidview'" class="btn" value="아이디 찾기" />
            <input type="button" onclick="location.href='/findpwview'" class="btn" value="비밀번호 찾기" />
            <br>
            <a th:href="${kakaolocation}"><img th:src="@{/image/kakao_login.png}"></a>
        </div>
    </form>
</div>
</body>
</html>