<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>강사 회원가입</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Bagel+Fat+One&family=Black+Han+Sans&family=Mulish:ital,wght@0,599;1,599&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,599;1,599&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script type="text/javascript" th:src="@{/js/member.check.js}"></script>
    <script type="text/javascript" th:src="@{/js/member.address.js}"></script>
    <script type="text/javascript" th:src="@{/js/member.email.custom.js}"></script>
    <script type="text/javascript" th:src="@{/js/member.pwcheck.js}"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/memberinput.css}">
</head>
<body>
<div th:replace="~{top::menu}"></div>
    <div id="sign-text"><h1>강사회원가입</h1></div>
    <div class="body-container">
        <form th:action="@{/membersave}" method="post" onsubmit="return validateForm()">
            <!--아이디-->
            <div class="input-group">
                <label for="id">아이디 </label>
                <input type="text" name="id" id="id">
                <button type="button" name="idcf" id="idcf">CHECK</button>
            </div>
            <span id="idError" style="color:green;"></span>
            <!--비밀번호-->
            <div class="input-group">
                <label for="pw">비밀번호</label>
                <input type="password" name="pw" id="pw" required>
            </div>
            <span id="pwError" style="color:green;"></span>
            <!--비밀번호 체크-->
            <div class="input-group">
                <label for="pwcf">비밀번호 확인</label>
                <input type="password" name="pwcf" id="pwcf" required>
                <button type="button" name="pwcfcf" id="pwcfcf" onclick="checkPasswordMatch()">CHECK</button>
            </div>
            <span id="pwcfError" style="color:green;"></span>
            <!--닉네임-->
            <div class="input-group">
                <label for="nickname">닉네임</label>
                <input type="text" name="nickname" id="nickname">
                <button type="button" name="nncf" id="nncf">CHECK</button>
            </div>
            <!--이름-->
            <div class="input-group">
                <label for="name">이름</label>
                <input type="text" name="name" id="name">
            </div>
            <!--성별-->
            <div class="input-group">
                <label for="gender">성별</label>
                <select name="gender" id="gender">
                    <option value="남성">남성</option>
                    <option value="여성">여성</option>
                </select>
            </div>
            <!--이메일-->
            <div class="input-group">
                <label for="email">이메일</label>
                <input type="text" name="email" id="email"><span> @ </span>
                <select name="domain" id="domain" onchange="toggleCustomDomain(this)">
                    <option value="@naver.com">naver.com</option>
                    <option value="@google.com">google.com</option>
                    <option value="@kakao.com">kakao.com</option>
                    <option value="custom">직접입력</option>
                </select>
            </div>
            <input type="text" name="customDomain" id="customDomain" style="display:none;" placeholder="도메인 입력">
            <!--전화번호-->
            <div class="input-group">
                <label>전화번호</label>
                <input type="text" name="phonemid" placeholder="010" readonly><span> - </span>
                <input type="text" name="phonemid" id="phonemid" pattern="\d{4}" maxlength="4" title="4자리 숫자를 입력하세요"><span> - </span>
                <input type="text" name="phoneend" id="phoneend" pattern="\d{4}" maxlength="4" title="4자리 숫자를 입력하세요">
                <button type="button" name="pncf" id="pncf">CHECK</button>
            </div>
            <!--우편번호-->
            <div class="input-group">
                <label for="address">우편번호</label>
                <input type="text" name="postnum" id="postnum" readonly>
                <div class="address-input-container"> <button type="button" onclick="searchAddress()">주소찾기</button></div>
            </div>
            <!--주소-->
            <div class="input-group">
                <label for="address">주소</label>
                <input type="text" name="address" id="address" readonly>
            </div>
            <!--상세주소-->
            <div class="input-group">
                <label for="address">상세주소</label>
                <input type="text" name="detailaddress" id="detailaddress" readonly>
            </div>
            <!--버트-->
            <div class="button-container">
                <button type="submit">회원가입</button>
                <button type="button" onclick="location.href='/main'">메인으로</button>
            </div>
        </form>
    </div>
</body>
</html>