/* 네비게이션 바 간격 유지 */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f3f3f3;
}

/* 메인 컨테이너 */
.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* 메인 이미지 */
.main-image-box img {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}

/* 초기 검색창 */
.click-search {
    position: relative;
    z-index: 1;
}

.click-search input {
    padding: 10px;
    font-size: 16px;
    width: 300px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

/* 상단에서 내려오는 확장 검색창 */
.hidden-search {
    position: fixed;
    top: -400px; /* 초기 상태에서 화면 위로 숨김 */
    width: 50%;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    text-align: center;
    transition: top 0.5s ease; /* 부드러운 애니메이션 */
    z-index: 999; /* nav 위로 표시 */
}

.hidden-search input[type="text"],
.hidden-search input[type="date"] {
    padding: 10px;
    font-size: 16px;
    width: 80%;
    height: 25%;
    max-width: 600px;
    border: 1px solid #ddd;
    border-radius: 4px;
    justify-content: center;
}

/* 검색창 활성화 상태 */
.hidden-search.active,
.hidden-search.focus {
    top: 0; /* nav 바로 아래로 표시 */
    /*background-color : rgb(255,255,255,0.8);*/
}

/* 카테고리 화면 */
#category-list {
    display: flex; /* flex-container 로 지정 */
    flex-direction: row; /* flex-item들을 가로로 정렬*/
    justify-content: space-between; /* 아이템 사이 간격 동일하게*/
    gap: 20px; /* 사이 간격 지정 */
    margin-top: 20px;
    margin-left: 0;
    padding: 0;
    align-items: center; /* item들 가운데 정렬 */
    list-style-type: none; /* 리스트 스타일 제거 */
}
/* 링크 스타일 */
.Big-category ul li a {
    text-decoration: none; /* 밑줄 제거 */
    color: inherit; /* 기존 폰트 컬러 유지 */
}
.Big-category ul li a:hover {
    text-decoration: none; /* 밑줄 제거 */
    color: inherit; /* 기존 폰트 컬러 유지 */
}

/* 카테고리 상자 ( 공예, 예술, 베이킹, 주류 ) */
.category-box {
    width: 200px;
    border: 1px solid #ddd;
    padding: 12px;
    border-radius: 4px;
    text-align: center;
    background-size: cover; /* 백그라운드 대충 맞게 커버 */
    background-position: center; /* 백그라운드 가운데 정렬*/
}