body {
    margin: 0;
    padding: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.nav-container {
    background-color: rgba(243,243,243, 0.9) !important;
    border-color: rgba(243,243,243, 0.5) !important;
    position: fixed; /* 화면에 고정 */
    top: 0; /* 브라우저 상단에 위치 */
    left: 0; /* 왼쪽에 붙임 */
    width: 100%; /* 전체 화면 너비 */
    z-index: 998; /* 다른 요소 위에 표시되도록 설정 */
}
/* flex-box 부모 및 flex-item 전체 */
.flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 3px solid #eba556;
    height: 100px; /* 높이 설정 */
    font-family: "Mulish", sans-serif;
    font-weight: bold;
}
/* flex-item 2 */
.category-area {
    position: absolute; /* 절대 위치 설정 */
    left: 50%; /* 왼쪽에서 50% 이동 */
    transform: translateX(-50%); /* 가로 축 기준 중앙 정렬 */
    display:flex;
    justify-content: center;
    font-size: 30px;
}
/* flex-item 3 */
.login-area {
    margin-left: auto;
    font-size: 18px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    position: relative; /* 서브 메뉴의 위치 기준 */
    margin-right: 20px;
}

nav ul li a {
    color: #eba556;
    text-decoration: none;
    padding: 5px 10px;
}

nav ul li:hover > ul {
    display: block; /* 부모 li에 마우스 오버 시 서브 메뉴 보이기 */
}

nav ul li ul {
    display: none; /* 기본적으로 숨김 */
    position: absolute; /* 부모 li 아래에 위치 */
    top: 100%; /* 부모 li 바로 아래 */
    left: 0;
    background-color: #f3f3f3;
    list-style: none;
    padding: 10px 0;
    margin: 0;
    width: 200px; /* 서브 메뉴 너비 */
    z-index: 1000;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

nav ul li ul li {
    padding: 5px 10px;
    text-align: center;
}

nav ul li ul li a {
    color: #eba556;
    text-decoration: none;
    display: block;
    font-size: 18px;
}