<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>main page</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}">
</head>
<body>
    <div th:replace="~{top::menu}"></div>
    <div class="main-container">
        <div class="main-image-box">
            <img src="/image/고양이.jpg">
        </div>
        <div class="categoty">
            <table>
                <tr>
                    <th colspan="3">공예</th>
                </tr>
                <tr>
                    <td th:each="doye:${doye}">도예
                        <a th:href="@{doye_page(num=${doye.cnum})}">
                            <div class="item-box">
                                <img th:src="@{/image/}+${doye.cmimage}" width="150px">
                                <p th:text="${doye.cname}"></p>
                            </div>
                        </a>
                    </td>
                    <td th:each="doll:${doll}">인형
                        <a th:href="@{doll_page(num=${doll.cnum})}">
                            <div class="item-box">
                                <img th:src="@{/image/}+${doll.cmimage}" width="150px">
                                <p th:text="${doll.cname}"></p>
                            </div>
                        </a>
                    </td>
                    <td th:each="jewell:${jewell}">인형
                        <a th:href="@{jewell_page(num=${jewell.cnum})}">
                                <div class="item-box">
                                    <img th:src="@{/image/}+${jewell.cmimage}" width="150px">
                                <p th:text="${jewell.cname}"></p>
                            </div>
                        </a>
                    </td>
                </tr>
                <tr>
                    <th colspan="3">예술</th>
                </tr>
                <tr>
                    <td th:each="drawing:${drawing}">드로잉
                        <a th:href="@{drawing_page(num=${drawing.cnum})}">
                            <div class="item-box">
                                <img th:src="@{/image/}+${drawing.cmimage}" width="150px">
                                <p th:text="${drawing.cname}"></p>
                            </div>
                        </a>
                    </td>
                    <td th:each="picture:${picture}">사진
                        <a th:href="@{picture_page(num=${picture.cnum})}">
                            <div class="item-box">
                                <img th:src="@{/image/}+${picture.cmimage}" width="150px">
                                <p th:text="${picture.cname}"></p>
                            </div>
                        </a>
                    </td>
                    <td th:each="music:${music}">음악
                        <a th:href="@{music_page(num=${music.cnum})}">
                            <div class="item-box">
                                <img th:src="@{/image/}+${music.cmimage}" width="150px">
                                <p th:text="${music.cname}"></p>
                            </div>
                        </a>
                    </td>
                </tr>
                <tr>
                    <th colspan="3">베이킹</th>
                </tr>
                <tr>
                    <td th:each="cookie:${cookie}">쿠키
                        <a th:href="@{cookie_page(num=${cookie.cnum})}">
                            <div class="item-box">
                                <img th:src="@{/image/}+${cookie.cmimage}" width="150px">
                                <p th:text="${cookie.cname}"></p>
                            </div>
                        </a>
                    </td>
                    <td th:each="cake:${cake}">케이크
                        <a th:href="@{cake_page(num=${cake.cnum})}">
                            <div class="item-box">
                                <img th:src="@{/image/}+${cake.cmimage}" width="150px">
                                <p th:text="${cake.cname}"></p>
                            </div>
                        </a>
                    </td>
                    <td th:each="bread:${music}">빵
                        <a th:href="@{bread_page(num=${bread.cnum})}">
                            <div class="item-box">
                                <img th:src="@{/image/}+${bread.cmimage}" width="150px">
                                <p th:text="${bread.cname}"></p>
                            </div>
                        </a>
                    </td>
                </tr>
                <tr>
                    <th colspan="3">주류</th>
                </tr>
                <tr>
                    <td th:each="wine:${wine}">쿠키
                        <a th:href="@{wine_page(num=${wine.cnum})}">
                            <div class="item-box">
                                <img th:src="@{/image/}+${wine.cmimage}" width="150px">
                                <p th:text="${wine.cname}"></p>
                            </div>
                        </a>
                    </td>
                    <td th:each="beer:${beer}">케이크
                        <a th:href="@{beer_page(num=${beer.cnum})}">
                            <div class="item-box">
                                <img th:src="@{/image/}+${beer.cmimage}" width="150px">
                                <p th:text="${beer.cname}"></p>
                            </div>
                        </a>
                    </td>
                    <td th:each="tradition:${tradition}">빵
                        <a th:href="@{tradition_page(num=${tradition.cnum})}">
                            <div class="item-box">
                                <img th:src="@{/image/}+${tradition.cmimage}" width="150px">
                                <p th:text="${tradition.cname}"></p>
                            </div>
                        </a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</body>

</html>