<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" th:fragment="menu">
<head>
    <link rel="stylesheet" type="text/css" th:href="@{/css/top.css}">
    <title>top 메뉴 바</title>
</head>
<body style="margin:0;">
<nav class="nav-container">
    <div class="container">
        <div class="logo-area">

        </div>
        <div class="container-fluid">
            <ul>
                <li><a href="#">링크 1</a></li>
                <li><a href="#">링크 2</a></li>
                <li><a href="#">링크 3</a></li>
                <li><a href="#">링크 4</a></li>
                <li><a href="#">링크 5</a></li>
                <li><a href="faqin">FAQ 등록</a></li>
                <li><a href="faqout">FAQ</a></li>
            </ul>
        </div>
        <div class="container-login">
            <ul>
                <li><a href="memberinput">회원가입</a></li>
                <li><a href="login">로그인</a></li>
            </ul>
        </div>
    </div>
</nav>
</body>
</html>