<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" th:fragment="menu"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <link rel="stylesheet" type="text/css" th:href="@{/css/top.css}">
    <title>top 메뉴 바</title>
</head>
<body style="margin:0;">
<nav class="nav-container">
    <div class="container">
        <div class="logo-area">
            <!-- 로고 -->
        </div>
        <div class="container-fluid">
            <ul class="main-area">
                <li>
                    <a href="/">HOME</a>
                </li>
            </ul>
            <ul class="category-area">
                <li>
                    <a href="#">CLASS</a>
                    <ul>
                        <li><a href="cinput">클래스 등록</a></li>
                        <li><a href="cout">클래스 테스트 출력</a></li>
                        <li><a href="#">서브 링크 1-3</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">FAQ</a>
                    <ul>
                        <li><a href="faqin">FAQ 등록</a></li>
                        <li><a href="faqout">FAQ 테스트 출력</a></li>
                        <li><a href="#">서브 링크 5-3</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="container-login">
            <ul class="login-area">
                <li>
                    <a href="member" sec:authorize="isAnonymous()"><span class="glyphicon glyphicon-user"></span> 회원가입</a>

                    <a href="#" sec:authorize="hasAuthority('Admin')"><span class="glyphicon glyphicon-log-in" th:text="'관리자님 반갑습니다.'"></span></a>
                    <a href="#" sec:authorize="hasAuthority('Teacher')"><span class="glyphicon glyphicon-log-in" th:text="${#authentication.name}+' 강사님 반갑습니다.'"></span></a>
                    <a href="#" sec:authorize="hasAuthority('Normal')"><span class="glyphicon glyphicon-log-in" th:text="${#authentication.name}+' 회원님 반갑습니다.'"></span></a>

                    <a th:href="@{/my/myinfo(id=${#authentication.name})}" sec:authorize="isAuthenticated()"><span class="glyphicon glyphicon-user" th:text="'내 프로필'"></span></a>
                    <a th:href="@{/admin/memberauth}" sec:authorize="hasAuthority('Admin')"><span class="glyphicon glyphicon-user" th:text="'회원관리'"></span></a>
                </li>

                <li>
                    <a href="login" sec:authorize="isAnonymous()"><span class="glyphicon glyphicon-log-in"></span> 로그인</a>
                    <a href="logout" sec:authorize="isAuthenticated()"><span class="glyphicon glyphicon-log-out"></span> 로그아웃</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
</body>
</html>